<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiM0Uc-2u5A4zXKWLiiySZWuIr6r4MBIg</string>
	<key>GCM_SENDER_ID</key>
	<string>645380850761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled3</string>
	<key>PROJECT_ID</key>
	<string>educationalflutterapp-94f27</string>
	<key>STORAGE_BUCKET</key>
	<string>educationalflutterapp-94f27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645380850761:ios:7872faf040ccb018b82b98</string>
</dict>
</plist>